{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}Settings{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <a href="{{ url_for('settings.index') }}" style="text-decoration: none;">
                    <div class="card-header text-muted font-weight-bold align-middle">
                        <span class="material-icons md-18 md-dark">arrow_back</span> Radio Frequency Devices
                    </div>
                </a>
                <ul class="list-group list-group-flush">
                    {% for rf_signal in devices %}
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="p-2">{{ rf_signal }}</div>
                                <div class="ml-auto p-2">
                                    <form role="form" method='POST' action="{{ url_for('settings/rfdevices/add') }}">
                                        <label class="invisble" title="rf_signal">{{ rf_signal }}</label>
                                        <button class="btn btn-primary" type="submit" value="submit"><i class="material-icons md-24 md-dark">add_circle</i></button>
                                    </form>
                                </div>
                                <div class="p-2">
                                    <form role="form" method='POST' action="{{ url_for('settings/rfdevices/test') }}">
                                        <label class="invisble" title="rf_signal">{{ rf_signal }}</label>
                                        <button class="btn btn-secondary" type="submit" value="submit"><i class="material-icons md-24 md-dark">send</i></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="span9"></div>
{% endblock %}