{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}Setup Assistant{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <h1 class="display-4">
            <span class="material-icons md-18 md-dark">arrow_back</span> Setup Assistant
        </h1>
        <h5 class="text-muted">Setup your new device in only 3 steps.</h5>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      #1 Step <i class="material-icons mb-light badge badge-success">done</i>
                    </button>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">Please activate and deactivate the device you would like to add to your Smart Home 3 times in a row.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      #2 Step <i class="material-icons mb-light badge badge-success">done</i>
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">Please name your device to get fast in touch with it later.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" id="deviceName" aria-describedby="deviceNameHelp" placeholder="Device name">
                                <small id="deviceNameHelp" class="form-text text-muted">You can choose a device name by yourself. It is common to name it by their type and function.</small>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      #3 Step <i class="material-icons mb-light badge badge-success">done</i>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h5 class="card-title">Congratulations!</h5>
                        <p class="card-text">Your device is now setup.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}