{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Setup Assistant</h5>
                <h6 class="card-subtitle mb-2 text-muted">Setup a new device</h6>
                <p class="card-text">Do you want to add a new device to your Smart Home?</p>
                <a href="#" class="card-link btn btn-secondary rounded">Read more</a>
                <a href="#" class="card-link btn btn-primary rounded">YES</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}