{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}Setup Assistant{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <a href="{{ url_for('home.index') }}" style="text-decoration: none;">
            <div class="card-header text-muted font-weight-bold align-middle">
                <span class="material-icons md-18 md-dark">arrow_back</span> Setup Assistant
            </div>
        </a>

        <div id="accordion">
            <div class="card">
                <a href="#" class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    <div class="card-header" id="headingOne">
                        #1 Step: Detect your device <i class="material-icons mb-light badge badge-success">done</i>
                    </div>
                </a>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">Please activate and deactivate the device you would like to add to your
                            Smart Home 3 times in a row.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                        #2 Step: Name your device <i class="material-icons mb-light badge badge-success">done</i>
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="card-text">Please name your device to get fast in touch with it later.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" id="deviceName"
                                       aria-describedby="deviceNameHelp" placeholder="Device name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-light mb-0" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                        #3 Step: Test your device <i class="material-icons mb-light badge badge-success">done</i>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h5 class="card-title">Congratulations!</h5>
                        <p class="card-text">Your device is now setup.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}