{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="card w-25">
            <h5 class="card-header">Setup Assistant</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Setup a new device</h6>
                <p class="card-text">Do you want to add a new device to your Smart Home?</p>
                <a href="{{ url_for('settings.setup_assistant') }}" class="btn btn-primary rounded">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}